nav.navbar{
    border-radius: 1%;
    background-color: #fcffd8;
    border:8px solid #4a4a4a;
    border-left-width: 0;
    border-right-width: 0;
}
.form-control{
    height: calc(2.5em + 0.75rem + 2px);
    border-radius: 50px;
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px;
    -o-border-radius: 10px;
    border-color: #4a4a4a!important;
    border:5px solid rgba(21, 139, 100, 0.125);
    background-color: #f8fbe6;
    text-align: center;
}
.form-inline .form-control {
    width: 450px;
}